.dolxft {
  height: 50px !important;
}

.fGCXeu,
.gbpjGq,
.cnuetu {
  width: 131px !important;
  font-size: 14px !important;
  color: white !important;
  font-weight: bold !important ;
  margin-left: 0 !important;
  line-height: 3 !important;
  border-radius: 10px !important;
}
