.p--new-projects {
  font-family: Be Vietnam Pro, sans-serif;
}

/* LOGIN  */

.login-container {
  background-image: url(../Images/background-login.jpeg);
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
}
.employee {
  margin-left: -10px;
  margin-top: 2rem;
}

@media (max-width: 600px) {
  .login-container > form {
    position: relative;
    bottom: 20px;
    width: 77%;
  }
}

@media (max-width: 428px) {
  .login-container > form {
    position: relative;
    left: 0px;
    bottom: 20px;
    width: 77%;
  }
}

@media (max-width: 375px) {
  .login-container > form {
    position: relative;
    left: 0px;
    bottom: 20px;
    width: 77%;
  }
}

@media (max-width: 360px) {
  .login-container > form {
    position: relative;
    left: 0px;
    bottom: 20px;
    width: 77%;
  }
}

/* BUTTON */

.icon-btn {
  width: 50px;
  height: 50px;
  border: 1px solid #cdcdcd;
  background: white;
  border-radius: 25px;
  overflow: hidden;
  position: relative;
  transition: width 0.2s ease-in-out;
  font-weight: 500;
  font-family: inherit;
}

.add-btn:hover {
  width: 120px;
}

.add-btn::before,
.add-btn::after {
  transition: width 0.2s ease-in-out, border-radius 0.2s ease-in-out;
  content: '';
  position: absolute;
  height: 4px;
  width: 10px;
  top: calc(50% - 2px);
  background: seagreen;
}

.add-btn::after {
  right: 14px;
  overflow: hidden;
  border-top-right-radius: 2px;
  border-bottom-right-radius: 2px;
}

.add-btn::before {
  left: 14px;
  border-top-left-radius: 2px;
  border-bottom-left-radius: 2px;
}

.icon-btn:focus {
  outline: none;
}

.btn-txt {
  opacity: 0;
  transition: opacity 0.2s;
}

.add-btn:hover::before,
.add-btn:hover::after {
  width: 4px;
  border-radius: 2px;
}

.add-btn:hover .btn-txt {
  opacity: 1;
}

.add-icon::after,
.add-icon::before {
  transition: all 0.2s ease-in-out;
  content: '';
  position: absolute;
  height: 20px;
  width: 2px;
  top: calc(50% - 10px);
  background: seagreen;
  overflow: hidden;
}

.add-icon::before {
  left: 22px;
  border-top-left-radius: 2px;
  border-bottom-left-radius: 2px;
}

.add-icon::after {
  right: 22px;
  border-top-right-radius: 2px;
  border-bottom-right-radius: 2px;
}

.add-btn:hover .add-icon::before {
  left: 15px;
  height: 4px;
  top: calc(50% - 2px);
}

.add-btn:hover .add-icon::after {
  right: 15px;
  height: 4px;
  top: calc(50% - 2px);
}

/* DASHBOARD */

/* DASHBOARD-TABLE */

.dimension-table:hover {
  transform: perspective(3000px) rotateY(5deg);
}

table th:last-child {
  border-radius: 0 30px 0px 0;
}

table th:first-child {
  border-radius: 30px 0 0 0px;
}

thead {
  color: black;
  font-family: Be Vietnam Pro, sans-serif;

  text-align: center;
}

.fc-scrollgrid-sync-inner > a {
  color: white;
  text-decoration: none;
  font-size: 16px;
  font-weight: bold;
}

.fc-scrollgrid > th {
  background-color: black;
}

.fc-toolbar-chunk > h2 {
  margin-left: 51px;
}
.fc .fc-daygrid-day-top > a {
  color: black;
  text-decoration: none;
}

.fc-scroller-harness > thead {
  background-color: black;
}

.fc-scroller > table > th {
  background-color: black;
}

thead[role='rowgroup'] {
  background-color: black;
}

tr[role='row'] > th {
  background-color: black;
}

.fc-toolbar-title {
  font-size: 26px !important;
  /* font type */
}

.fc .fc-toolbar.fc-header-toolbar {
  margin: 0px;
}

tbody {
  color: black;
  font-weight: lighter;
  font-size: 17px;
  text-align: center;
}

table th,
table td {
  border: 2px solid #ddd;
  padding: 8px;
}

.tickets-table {
  margin-top: 4rem;
}

.edit-btn,
.dlt-btn {
  margin: 5px;
  background: none;
}

.add-ticket-btn,
.add-employee-btn,
.add-project-btn {
  align-self: flex-end;
}

/* Register Page */

/* parent */

.register-page-cover {
  background-image: url(../Images/register-cover.png);
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: auto;
  background-repeat: no-repeat;
  height: 100vh;
}

/* right panel */
.signup__form {
  padding: 1.5rem;
  background-color: #0093e9;
  background-image: linear-gradient(160deg, #0093e9 0%, #80d0c7 100%);
}
label {
  font-size: 0.85rem;
  text-transform: uppercase;
}

.form-control {
  background-color: transparent;
  border-top: 0;
  border-right: 0;
  border-left: 0;
  border-radius: 0;
}
[type='text'] {
  color: #111;
}
[type='password'] {
  color: #111;
}
.btn--form {
  padding: 0.5rem 2.5rem;
  font-size: 0.95rem;
  font-weight: 600;
  text-transform: uppercase;
  color: #fff;
  background: #111;
  border-radius: remy(35px);
}
.signup__link {
  font-size: 0.8rem;
  font-weight: 600;
  text-decoration: underline;
  color: #999;
}

.MuiButton-outlinedSizeLarge {
  padding: 7px 21px;
  font-size: 0.9375rem;
  width: 100%;
  margin-top: 20px !important;
}

@media (min-width: 901px) {
  .signup__container {
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    overflow: hidden;
    width: 85%;
    display: flex;
    left: 50%;
    max-width: 50rem;
  }
  .signup__form {
    padding: 1.5rem;
    background-color: #0093e9;
    background-image: linear-gradient(160deg, #0093e9 0%, #80d0c7 100%);
    border-radius: 0px 25px 25px 0px;
    height: 475px;
    margin-bottom: 25px;
  }
  .carousel-inner {
    position: relative;
    width: 100%;
    overflow: hidden;
    height: 474px;
    border-radius: 25px 0px 0px 25px;
  }
  .carousel-item > img {
    width: 100%;
    height: 146%;
  }
  .carousel-inner > .active {
    height: 324.567px;
  }
  .carousel-caption {
    position: absolute;
    right: 15%;
    bottom: 5.25rem;
    left: 15%;
    padding-top: 1.25rem;
    padding-bottom: 1.25rem;
    color: #fff;
    text-align: center;
  }
  .container__child {
    width: 50%;
  }
}

@media (max-width: 900px) {
  .signup__container {
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    overflow: hidden;
    width: 75%;
    display: flex;
    flex-direction: column;
    left: 50%;
    max-width: 27rem;
  }
  .signup__form {
    padding: 1.5rem;
    background-color: #0093e9;
    background-image: linear-gradient(160deg, #0093e9 0%, #80d0c7 100%);
    border-radius: 0px 0px 25px 25px;
    height: 475px;
    margin-bottom: 25px;
  }
  .carousel-inner {
    position: relative;
    width: 100%;
    overflow: hidden;
    height: 260px;
    border-radius: 25px 25px 0px 0px !important;
  }
  .carousel-item > img {
    width: 100%;
    height: 120%;
    opacity: 0.5;
  }
  .carousel-inner > .active {
    height: 324.567px;
  }
  .carousel-caption {
    position: absolute;
    right: 15%;
    bottom: 5.25rem;
    left: 15%;
    padding-top: 1.25rem;
    padding-bottom: 1.25rem;
    color: #fff;
    text-align: center;
  }
  /* p {
    margin-top: 0;
    margin-bottom: 5rem !important;
  } */
}

@media (max-width: 374px) {
  #already-member {
    font-size: 13px;
  }
}

/* DASHBOARD */

/* Huge size (Larger screen) max-width: 1281px and greater */

/* SIDEBAR */

.logo {
  display: flex;
  font-weight: bold;
  font-size: 22px;
  gap: 1rem;
  align-items: center;
  justify-content: center;
  height: 2%;
}

.logo > span {
  color: black;
}

.logo > span > span {
  color: var(--pink);
}

/* menu */

.menu {
  margin-top: 4rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.menuItem {
  display: flex;
  align-items: center;
  gap: 1rem;
  height: 3.5rem;
  margin-left: 2rem;
  position: relative;
  transition: all 300ms ease;
  font-size: 15px;
  border-radius: 0.7rem;
}

.active::before {
  width: 8px;
  height: 100%;
  background: var(--pink);
  margin-right: calc(1rem - 8px);
}

h2 {
  color: #3c3737;
  font-weight: bold !important;
  font-size: 25px !important;
}

/* RECENT EMPLOYEES */

.update {
  display: flex;
  gap: 0.5rem;
  margin-top: 15px;
  padding: 10px;
}

.update > img {
  width: 3.2rem;
  height: 3.2rem;
}

.noti > div > span:nth-of-type(1) {
  font-weight: bold;
}

/* Tickets */

/* ticketsTable */

.ticketsTable {
  /* border-collapse: collapse; */
  max-width: 1070px;
  width: 100%;
}

@media (max-width: 500px) {
  .btn-div-ticket {
    margin-top: 20px;
    margin-bottom: 20px;
    margin-right: 1rem;
  }
  .table-responsive {
    max-width: 82%;
    min-width: 446px;
  }
  .parentContainer {
    max-width: 100%;
    width: 95%;
  }

  .dashboard-glass-wider > .MainDash {
    margin-left: 1.2rem;
    width: 236%;
  }

  .card {
    margin-bottom: 1rem;
    align-items: center;
  }
  .card-img-top,
  .card-img {
    display: flex;
    align-content: center;
    align-items: center;
    width: 65% !important;
  }
  .demo-app-main {
    padding: 1em;
  }
}

/* CALENDAR TABLE */

.demo-app {
  /* display: flex; */
  min-height: 100%;
  font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
  font-size: 14px;
  width: 110%;
  margin: 3rem;
}

.demo-app-sidebar {
  width: 300px;
  line-height: 1.5;
  background: #eaf9ff;
  border-right: 1px solid #d3e2e8;
}

.demo-app-sidebar-section {
  /* padding: 2em; */
  padding: 1em 2em;
}

.demo-app-main {
  flex-grow: 1;
  padding: 1em;
}

.fc {
  /* the calendar root */
  max-width: 1100px;
  max-height: 700px;
  margin: 0 auto;
}

/* MEDIA QUERIES  */

/* pending min-width: 1200 */

@media (min-width: 1201px) {
  .dashboard-div {
    background: linear-gradient(
      106.37deg,
      #ffe1bc 29.63%,
      #ffcfd1 51.55%,
      #f3c6f1 90.85%
    );
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .dashboard-glass {
    display: grid;
    width: 96%;
    border-radius: 2rem;

    background-color: #fcdede;
    background-image: radial-gradient(
        at 86% 37%,
        hsla(181, 79%, 74%, 1) 0px,
        transparent 50%
      ),
      radial-gradient(at 59% 8%, hsla(237, 66%, 62%, 1) 0px, transparent 50%),
      radial-gradient(at 41% 81%, hsla(18, 88%, 74%, 1) 0px, transparent 50%),
      radial-gradient(at 52% 27%, hsla(274, 87%, 67%, 1) 0px, transparent 50%),
      radial-gradient(at 94% 67%, hsla(263, 92%, 76%, 1) 0px, transparent 50%);
    grid-template-columns: 1fr auto;
    margin: 2rem 1rem 2rem 0rem;
  }
  .dashboard-glass-wider {
    display: grid;
    width: 96%;
    border-radius: 2rem;
    background-color: var(--glass);
    overflow: scroll;
    grid-template-columns: 12rem auto;
    gap: 20px;
    height: 100vh;
    background-color: #fcdede;
    background-image: radial-gradient(
        at 86% 37%,
        hsla(181, 79%, 74%, 1) 0px,
        transparent 50%
      ),
      radial-gradient(at 59% 8%, hsla(237, 66%, 62%, 1) 0px, transparent 50%),
      radial-gradient(at 41% 81%, hsla(18, 88%, 74%, 1) 0px, transparent 50%),
      radial-gradient(at 52% 27%, hsla(274, 87%, 67%, 1) 0px, transparent 50%),
      radial-gradient(at 94% 67%, hsla(263, 92%, 76%, 1) 0px, transparent 50%);
    margin: 2rem 1rem 2rem 0rem;
  }
  .MainDash {
    margin-left: 3rem;
  }
  .dashboard-glass-wider > .MainDash {
    width: 365%;
  }
  .sidebar {
    position: fixed;
    z-index: 9;
    background: #e0ffff;
    width: 22%;
    padding: 1rem;
    height: 74%;
    opacity: 0.9;
    border-radius: 0px 35px 35px 0px;
    padding-top: 5rem;
    transition: all 300ms ease;
    margin-top: 6rem;
  }
  .menuItem:hover {
    cursor: pointer;
    background-color: lightpink;
  }
  .bars {
    display: flex;
    position: fixed;
    z-index: 9;
    background: #ffe0e0;
    padding: 10px;
    border-radius: 5px;
    margin-top: 2rem;
  }
  .bars:active {
    box-shadow: 7px 6px 28px 1px rgba(0, 0, 0, 0.24);
    transform: translateY(4px);
  }
  .right-side {
    display: flex;
    flex-direction: column;
    width: 85%;
    justify-content: flex-start;
    margin-left: -30%;
    margin-top: 12rem;
  }
  .updates {
    margin-top: 1rem;
    background-color: rgba(255, 255, 255, 0.15);
    border-radius: 30px;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    font-size: 14px;
    box-shadow: rgb(233, 225, 213) 0px 10px 20px;
    border: 1px solid rgba(255, 255, 255, 0.125);
  }
  .cards {
    display: flex;
    flex-direction: column;
    gap: 60px;
    margin-top: 20px;
  }
  .parentContainer {
    /* ? useful? the one below? */
    /* max-width: 55%; */
    height: 8rem;
    width: 65%;
    border: 1px solid rgba(255, 255, 255, 0.125);
  }
  .CompactCard {
    display: flex;
    height: 11rem;
    border-radius: 0.8rem;
    color: white;
    padding: 1rem;
    position: relative;
    cursor: pointer;
  }
  .recent-projects {
    color: rgb(60, 55, 55);
    font-weight: bold;
    font-size: 25px;
    margin-top: 7rem;
    margin-bottom: 3rem;
  }
  .btn-div {
    margin-bottom: 33px;
    width: 32%;
  }
  .dimension-table {
    transform: perspective(1600px) rotateY(7deg);
    border-radius: 1rem;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 25px 50px -12px;
    transition: transform 1s ease 0s;

    width: 145%;
    margin-bottom: 15%;
    border: 1px solid rgba(255, 255, 255, 0.125);
    background-color: rgba(232, 13, 197, 0.1);
  }
  table {
    border-collapse: collapse;
    max-width: 900px;
    width: 100%;
    margin: 2rem auto;
  }
  .table-responsive {
    width: 100%;
    min-width: 700px;
  }
  .dimension-ticket-table {
    transform: rotate3d(0.5, -0.866, 0, 15deg) rotate(1deg);
    box-shadow: 2em 4em 6em -2em rgba(0, 0, 0, 0.5),
      1em 2em 3.5em -2.5em rgba(0, 0, 0, 0.5);
    transition: transform 0.4s ease, box-shadow 0.4s ease;
    border-radius: 0.5em;
    width: 124%;
    margin-top: 45px;
  }

  .dimension-ticket-table:hover {
    transform: rotate3d(0, 0, 0, 0deg) rotate(0deg);
  }
}

@media (max-width: 1200px) {
  .dashboard-div {
    background: linear-gradient(
      106.37deg,
      #ffe1bc 29.63%,
      #ffcfd1 51.55%,
      #f3c6f1 90.85%
    );
    display: flex;
    justify-content: center;
    align-items: center;
    height: 170vh;
  }
  .dashboard-glass {
    display: grid;
    height: 160vh;
    width: 96%;
    border-radius: 2rem;
    background-color: #fcdede;
    background-image: radial-gradient(
        at 86% 37%,
        hsla(181, 79%, 74%, 1) 0px,
        transparent 50%
      ),
      radial-gradient(at 59% 8%, hsla(237, 66%, 62%, 1) 0px, transparent 50%),
      radial-gradient(at 41% 81%, hsla(18, 88%, 74%, 1) 0px, transparent 50%),
      radial-gradient(at 52% 27%, hsla(274, 87%, 67%, 1) 0px, transparent 50%),
      radial-gradient(at 94% 67%, hsla(263, 92%, 76%, 1) 0px, transparent 50%);
    grid-template-columns: 1fr auto;
    margin: 2rem 1rem 2rem 0rem;
  }
  .dashboard-glass-wider {
    display: grid;
    width: 96%;
    border-radius: 2rem;
    background-color: var(--glass);
    overflow: scroll;
    grid-template-columns: 12rem auto;
    gap: 20px;
    height: 100vh;
    background-color: #fcdede;
    background-image: radial-gradient(
        at 86% 37%,
        hsla(181, 79%, 74%, 1) 0px,
        transparent 50%
      ),
      radial-gradient(at 59% 8%, hsla(237, 66%, 62%, 1) 0px, transparent 50%),
      radial-gradient(at 41% 81%, hsla(18, 88%, 74%, 1) 0px, transparent 50%),
      radial-gradient(at 52% 27%, hsla(274, 87%, 67%, 1) 0px, transparent 50%),
      radial-gradient(at 94% 67%, hsla(263, 92%, 76%, 1) 0px, transparent 50%);
    margin: 2rem 1rem 2rem 0rem;
  }
  .MainDash {
    margin-left: 3rem;
  }
  .dashboard-glass-wider > .MainDash {
    width: 365%;
  }
  .sidebar {
    position: fixed;
    z-index: 9;
    background: #e0ffff;
    width: 22%;
    padding: 1rem;
    height: 75%;
    opacity: 0.9;
    border-radius: 0px 35px 35px 0px;
    padding-top: 5rem;
    transition: all 300ms ease;
    margin-top: 6rem;
  }
  .menuItem:hover {
    cursor: pointer;
    background-color: lightpink;
  }
  .bars {
    display: flex;
    position: fixed;
    z-index: 9;
    background: #ffe0e0;
    padding: 10px;
    border-radius: 5px;
    margin-top: 2rem;
  }
  .bars:active {
    box-shadow: 7px 6px 28px 1px rgba(0, 0, 0, 0.24);
    transform: translateY(4px);
  }

  .right-side {
    display: flex;
    flex-direction: column;
    width: 115%;
    justify-content: flex-start;
    margin-left: -41%;
    margin-top: 12rem;
  }
  .updates {
    margin-top: 1rem;
    background-color: rgba(255, 255, 255, 0.15);
    border-radius: 30px;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    font-size: 14px;
    box-shadow: rgb(233, 225, 213) 0px 10px 20px;
    border: 1px solid rgba(255, 255, 255, 0.125);
  }
  .cards {
    display: flex;
    flex-direction: column;
    gap: 60px;
    margin-top: 20px;
  }
  .parentContainer {
    /* ? useful? the one below? */
    /* max-width: 55%; */
    height: 8rem;
    width: 65%;
    border: 1px solid rgba(255, 255, 255, 0.125);
  }
  .CompactCard {
    display: flex;
    height: 11rem;
    border-radius: 0.8rem;
    color: white;
    padding: 1rem;
    position: relative;
    cursor: pointer;
  }
  .recent-projects {
    color: rgb(60, 55, 55);
    font-weight: bold;
    font-size: 25px;
    margin-top: 7rem;
    margin-bottom: 3rem;
  }
  .btn-div {
    margin-bottom: 33px;
    width: 32%;
  }
  .dimension-table {
    transform: perspective(1600px) rotateY(7deg);
    border-radius: 1rem;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 25px 50px -12px;
    transition: transform 1s ease 0s;
    width: 145%;
    border: 1px solid rgba(255, 255, 255, 0.125);
    background-color: rgba(232, 13, 197, 0.1);
  }
  table {
    border-collapse: collapse;
    max-width: 900px;
    width: 100%;
    margin: 2rem auto;
  }
  .table-responsive {
    width: 100%;
    min-width: 700px;
  }
  .dimension-ticket-table {
    transform: rotate3d(0.5, -0.866, 0, 15deg) rotate(1deg);
    box-shadow: 2em 4em 6em -2em rgba(0, 0, 0, 0.5),
      1em 2em 3.5em -2.5em rgba(0, 0, 0, 0.5);
    transition: transform 0.4s ease, box-shadow 0.4s ease;
    border-radius: 0.5em;
    width: 124%;
    margin-top: 45px;
  }

  .dimension-ticket-table:hover {
    transform: rotate3d(0, 0, 0, 0deg) rotate(0deg);
  }
}

@media (max-width: 1024px) {
  .dimension-table {
    width: 127%;
  }
}

@media (max-width: 855px) {
  .sidebar {
    width: 30%;
    height: 76%;
  }
  .parentContainer {
    width: 60%;
  }
  .right-side {
    margin-left: -117%;
    margin-top: 10rem;
    width: 125%;
  }
  .dimension-table {
    width: 103%;
  }
}

@media (max-width: 768px) {
  .parentContainer {
    width: 48%;
  }
  .right-side {
    margin-left: -162%;
    margin-top: 11.5rem;
    width: 128%;
  }
  .dimension-table {
    width: 92%;
  }
  .table-responsive {
    width: 59%;
  }
  .table {
    width: 82% !important;
    margin: 1rem 40px !important;
  }
}

@media (max-width: 600px) {
  .sidebar {
    width: 41%;
  }
  .dashboard-div {
    height: 246vh;
  }
  .dashboard-glass {
    display: flex;
    flex-basis: content;
    height: 238vh;
  }
  .parentContainer {
    width: 89%;
  }
  .recent-projects {
    margin-top: 40rem;
  }
  .dimension-table {
    margin-top: 2rem;
  }
  .table-responsive {
    width: 100%;
    min-width: 518px !important;
  }
  .table {
    width: 84% !important;
  }
  .right-side {
    margin-left: -93%;
    margin-top: 56rem;
    width: 83%;
  }
  table {
    border-collapse: collapse;
    border: 1px solid #cdcdcd;
    font-family: Be Vietnam Pro, sans-serif;
    width: 100%;
  }
  table tbody {
    overflow: auto !important;
    height: 186px !important;
  }
  td,
  th {
    border: 1px solid #cdcdcd;
    padding: 2px;
  }
  table,
  thead,
  tbody,
  th,
  td,
  tr {
    display: block;
  }
  thead tr {
    position: absolute;
    top: -9999px;
    left: -9999px;
  }
  tr {
    border-bottom: 1px solid #ccc;
  }
  /* td afecta al th and tbody-td */
  td {
    border: none;
    border-bottom: 1px solid #eee;
    position: relative;
    padding-left: 50%;
  }
  td:before {
    position: absolute;
    top: 3px;
    left: 6px;
    width: 45%;
    padding-right: 10px;
    white-space: nowrap;
    font-weight: bold;
  }
  td:after {
    position: absolute;
    top: 3px;
    left: 16px;
    width: 45%;
    padding-right: 10px;
    white-space: nowrap;
    font-weight: bold;
  }

  td:nth-of-type(1):before {
    content: 'Name';
  }
  td:nth-of-type(2):before {
    content: 'Description';
  }
  td:nth-of-type(3):before {
    content: 'Contributors';
  }
  td:nth-of-type(4):before {
    content: 'Status';
  }
  td:nth-of-type(5):before {
    content: 'Actions';
  }
}

@media (max-width: 428px) {
  .instructions {
    font-size: 15px;
  }
  .recent-employees {
    margin-left: -5px;
  }
  .recent-projects {
    margin-top: 45rem;
  }
  .MainDash {
    margin-left: 22rem;
    margin-top: 18rem;
  }
  .parentContainer {
    width: 72%;
  }
  .right-side {
    margin-left: -48%;
    width: 34%;
    margin-top: 75rem;
  }
  .bars {
    display: flex;
    position: fixed;
    z-index: 9;
    background: #ffe0e0;
    padding: 10px;
    border-radius: 5px;
    margin-top: 1rem;
  }
  .sidebar {
    width: 55%;
    margin-top: 10rem;
  }
  .table {
    width: 60% !important;
  }

  .menuItem:hover {
    cursor: pointer;
    background-color: lightpink;
  }
  .dashboard-div {
    background: none;
    height: 216vh;
  }
  .dashboard-glass {
    height: 285vh;
    width: auto;
  }
  .dimension-table {
    margin-top: 2rem;
    width: 72%;
  }
}

@media (max-width: 375px) {
  .dashboard-div {
    height: 216vh;
  }
  .dashboard-glass {
    height: 308vh;
  }
  .instructions {
    margin-left: 20px;
    max-width: 350px;
  }
  .sidebar {
    margin-top: 30rem;
    height: 75%;
    width: 60%;
  }
  .title {
    margin-top: 12rem !important;
    margin-left: 25px;
  }
  .parentContainer {
    width: 62%;
    margin-left: 2rem;
  }
  .recent-employees {
    margin-left: 19px;
  }
  .right-side {
    margin-left: -46%;
    width: 30%;
    margin-top: 85rem;
  }
  .recent-projects {
    margin-left: 27px;
  }
  .p--new-projects {
    margin-left: 27px;
  }
  .btn-div {
    margin-left: 27px;
  }
}
