.dashboard-div {
  background: linear-gradient(
    106.37deg,
    #ffe1bc 29.63%,
    #ffcfd1 51.55%,
    #f3c6f1 90.85%
  );
  display: flex;
  justify-content: center;
  align-items: center;
  height: fit-content;
}

.dashboard-glass {
  display: grid;
  width: 96%;
  border-radius: 2rem;
  background-color: #fcdede;
  background-image: radial-gradient(
      at 86% 37%,
      hsla(181, 79%, 74%, 1) 0px,
      transparent 50%
    ),
    radial-gradient(at 59% 8%, hsla(237, 66%, 62%, 1) 0px, transparent 50%),
    radial-gradient(at 41% 81%, hsla(18, 88%, 74%, 1) 0px, transparent 50%),
    radial-gradient(at 52% 27%, hsla(274, 87%, 67%, 1) 0px, transparent 50%),
    radial-gradient(at 94% 67%, hsla(263, 92%, 76%, 1) 0px, transparent 50%);
  grid-template-columns: 1fr auto;
  margin: 2rem 1rem 2rem 0rem;
}
.dashboard-glass-wider {
  display: grid;
  width: 96%;
  border-radius: 2rem;
  background-color: var(--glass);
  overflow: scroll;
  grid-template-columns: 12rem auto;
  gap: 20px;
  height: 100vh;
  background-color: #fcdede;
  background-image: radial-gradient(
      at 86% 37%,
      hsla(181, 79%, 74%, 1) 0px,
      transparent 50%
    ),
    radial-gradient(at 59% 8%, hsla(237, 66%, 62%, 1) 0px, transparent 50%),
    radial-gradient(at 41% 81%, hsla(18, 88%, 74%, 1) 0px, transparent 50%),
    radial-gradient(at 52% 27%, hsla(274, 87%, 67%, 1) 0px, transparent 50%),
    radial-gradient(at 94% 67%, hsla(263, 92%, 76%, 1) 0px, transparent 50%);
  margin: 2rem 1rem 2rem 0rem;
}
.cards {
  display: flex;
  flex-direction: column;
  gap: 60px;
  margin-top: 20px;
}
.right-side {
  width: 31%;
  position: absolute;
  top: 21rem;
  left: 44rem;
}
.CompactCard {
  display: flex;
  height: 11rem;
  border-radius: 0.8rem;
  color: white;
  padding: 1rem;
  position: relative;
  cursor: pointer;
}

.parentContainer {
  height: 8rem;
  width: 65%;
  border: 1px solid rgba(255, 255, 255, 0.125);
}

.updates {
  margin-top: 1rem;
  background-color: rgba(255, 255, 255, 0.15);
  border-radius: 30px;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  font-size: 14px;
  box-shadow: rgb(233, 225, 213) 0px 10px 20px;
  border: 1px solid rgba(255, 255, 255, 0.125);
}

.dimension-table {
  transform: perspective(1600px) rotateY(7deg);
  border-radius: 1rem;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 25px 50px -12px;
  transition: transform 1s ease 0s;
  width: 90%;
  margin-bottom: 10%;
  border: 1px solid rgba(255, 255, 255, 0.125);
  background-color: rgba(232, 13, 197, 0.1);
}
.dimension-table:hover {
  transform: perspective(3000px) rotateY(5deg);
}

.dimension-ticket-table {
  transform: rotate3d(0.5, -0.866, 0, 15deg) rotate(1deg);
  box-shadow: 2em 4em 6em -2em rgba(0, 0, 0, 0.5),
    1em 2em 3.5em -2.5em rgba(0, 0, 0, 0.5);
  transition: transform 0.4s ease, box-shadow 0.4s ease;
  border-radius: 0.5em;
  width: 124%;
  margin-top: 45px;
}
.dimension-ticket-table:hover {
  transform: rotate3d(0, 0, 0, 0deg) rotate(0deg);
}

/*  */

.p--new-projects {
  font-family: Be Vietnam Pro, sans-serif;
}

.btn-div {
  margin-top: 2rem;
  margin-bottom: 1rem;
}

.p--new-projects-tickets {
  margin-top: 1rem;
  font-family: Be Vietnam Pro, sans-serif;
}

.flex-container {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
}

.center {
  justify-content: center;
}

.space-between {
  justify-content: space-between;
}

.bars {
  display: flex;
  position: fixed;
  z-index: 9;
  background: #ffe0e0;
  padding: 10px;
  border-radius: 5px;
  margin-top: 2rem;
}
.bars:active {
  box-shadow: 7px 6px 28px 1px rgba(0, 0, 0, 0.24);
  transform: translateY(4px);
}

/* LOGIN  */

.login-container {
  background-image: url(../Images/background-login.jpeg);
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-repeat: no-repeat;
  height: 155vh;
}
.employee {
  margin-left: -10px;
  margin-top: 2rem;
}

@media (max-width: 600px) {
  .login-container > form {
    position: relative;
    bottom: 20px;
    width: 77%;
  }
}

@media (max-width: 428px) {
  .login-container > form {
    position: relative;
    left: 0px;
    bottom: 20px;
    width: 77%;
  }
}

@media (max-width: 375px) {
  .login-container > form {
    position: relative;
    left: 0px;
    bottom: 20px;
    width: 77%;
  }
}

@media (max-width: 360px) {
  .login-container > form {
    position: relative;
    left: 0px;
    bottom: 20px;
    width: 77%;
  }
}

/* BUTTON */

.icon-btn {
  width: 50px;
  height: 50px;
  border: 1px solid #cdcdcd;
  background: white;
  border-radius: 25px;
  overflow: hidden;
  position: relative;
  transition: width 0.2s ease-in-out;
  font-weight: 500;
  font-family: inherit;
}

.add-btn:hover {
  width: 120px;
}

.add-btn::before,
.add-btn::after {
  transition: width 0.2s ease-in-out, border-radius 0.2s ease-in-out;
  content: '';
  position: absolute;
  height: 4px;
  width: 10px;
  top: calc(50% - 2px);
  background: seagreen;
}

.add-btn::after {
  right: 14px;
  overflow: hidden;
  border-top-right-radius: 2px;
  border-bottom-right-radius: 2px;
}

.add-btn::before {
  left: 14px;
  border-top-left-radius: 2px;
  border-bottom-left-radius: 2px;
}

.icon-btn:focus {
  outline: none;
}

.btn-txt {
  opacity: 0;
  transition: opacity 0.2s;
}

.add-btn:hover::before,
.add-btn:hover::after {
  width: 4px;
  border-radius: 2px;
}

.add-btn:hover .btn-txt {
  opacity: 1;
}

.add-icon::after,
.add-icon::before {
  transition: all 0.2s ease-in-out;
  content: '';
  position: absolute;
  height: 20px;
  width: 2px;
  top: calc(50% - 10px);
  background: seagreen;
  overflow: hidden;
}

.add-icon::before {
  left: 22px;
  border-top-left-radius: 2px;
  border-bottom-left-radius: 2px;
}

.add-icon::after {
  right: 22px;
  border-top-right-radius: 2px;
  border-bottom-right-radius: 2px;
}

.add-btn:hover .add-icon::before {
  left: 15px;
  height: 4px;
  top: calc(50% - 2px);
}

.add-btn:hover .add-icon::after {
  right: 15px;
  height: 4px;
  top: calc(50% - 2px);
}

/* DASHBOARD */

/* DASHBOARD-TABLE */

table th:last-child {
  border-radius: 0 30px 0px 0;
}

table th:first-child {
  border-radius: 30px 0 0 0px;
}

thead {
  color: black;
  font-family: Be Vietnam Pro, sans-serif;
  text-align: center;
}

.fc-scrollgrid-sync-inner > a {
  color: white;
  text-decoration: none;
  font-size: 16px;
  font-weight: bold;
}

.fc-scrollgrid > th {
  background-color: black;
}

.fc-toolbar-chunk > h2 {
  margin-left: 51px;
}
.fc .fc-daygrid-day-top > a {
  color: black;
  text-decoration: none;
}

.fc-scroller-harness > thead {
  background-color: black;
}

.fc-scroller > table > th {
  background-color: black;
}

thead[role='rowgroup'] {
  background-color: black;
}

tr[role='row'] > th {
  background-color: black;
}

.fc-toolbar-title {
  font-size: 26px !important;
}

.fc .fc-toolbar.fc-header-toolbar {
  margin: 0px;
}

tbody {
  color: black;
  font-weight: lighter;
  font-size: 17px;
  text-align: center;
}

table th,
table td {
  border: 2px solid #ddd;
  padding: 8px;
}

.edit-btn,
.dlt-btn,
.save-btn {
  margin: 5px;
  background: none;
}

.add-ticket-btn,
.add-employee-btn,
.add-project-btn {
  align-self: flex-end;
}

/* Register Page */

.register-page-cover {
  background-image: url(../Images/register-cover.png);
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: auto;
  background-repeat: no-repeat;
}

/* REGISTER PAGE */
.signup__container {
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 85%;
  display: flex;
  left: 50%;
  max-width: 60rem;
}
.signup__form {
  padding: 1.5rem;
  background-color: #0093e9;
  background-image: linear-gradient(160deg, #0093e9 0%, #80d0c7 100%);
  border-radius: 0px 25px 25px 0px;
  height: 31.5rem;
}
.carousel-caption {
  left: 30%;
  right: 0%;
}

label {
  font-size: 0.85rem;
  text-transform: uppercase;
}

.form-control {
  background-color: transparent;
  border-top: 0;
  border-right: 0;
  border-left: 0;
  border-radius: 0;
}
[type='text'] {
  color: #111;
}
[type='password'] {
  color: #111;
}
.btn--form {
  padding: 0.5rem 2.5rem;
  font-size: 0.95rem;
  font-weight: 600;
  text-transform: uppercase;
  color: #fff;
  background: #111;
  border-radius: remy(35px);
}
.signup__link {
  font-size: 0.8rem;
  font-weight: 600;
  text-decoration: underline;
  color: #999;
}

.MuiButton-outlinedSizeLarge {
  padding: 7px 21px;
  font-size: 0.9375rem;
  width: 100%;
  margin-top: 20px !important;
}

/* DASHBOARD */

.logo {
  display: flex;
  font-weight: bold;
  font-size: 22px;
  gap: 1rem;
  align-items: center;
  justify-content: center;
  height: 2%;
}

.logo > span {
  color: black;
}

.logo > span > span {
  color: #d3649f;
}

.sidebar {
  position: fixed;
  z-index: 9;
  background: #e0ffff;
  width: 22%;
  padding: 1rem;
  height: 74%;
  opacity: 0.9;
  border-radius: 0px 35px 35px 0px;
  padding-top: 5rem;
  transition: all 300ms ease;
  margin-top: 5rem;
}

.menu {
  margin-top: 4rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.menuItem {
  display: flex;
  align-items: center;
  gap: 1rem;
  height: 3.5rem;
  margin-left: 2rem;
  position: relative;
  transition: all 300ms ease;
  font-size: 15px;
  border-radius: 0.7rem;
}
.menuItem:hover {
  cursor: pointer;
  background-color: lightpink;
}

.active::before {
  width: 8px;
  height: 100%;
  background: var(--pink);
  margin-right: calc(1rem - 8px);
}

h2 {
  color: #3c3737;
  font-weight: bold !important;
  font-size: 25px !important;
}

/* RECENT EMPLOYEES */

.update {
  display: flex;
  gap: 0.5rem;
  margin-top: 15px;
  padding: 10px;
}

.update > img {
  width: 3.2rem;
  height: 3.2rem;
}

.noti > div > span:nth-of-type(1) {
  font-weight: bold;
}

/* Tickets */

/* ticketsTable */

.ticketsTable {
  /* border-collapse: collapse; */
  max-width: 1070px;
  width: 100%;
}

@media (max-width: 500px) {
  .btn-div-ticket {
    margin-top: 20px;
    margin-bottom: 20px;
    margin-right: 1rem;
  }
  .card {
    margin-bottom: 1rem;
    align-items: center;
  }
  .card-img-top,
  .card-img {
    display: flex;
    align-content: center;
    align-items: center;
    width: 65% !important;
  }
  .demo-app-main {
    padding: 1em;
  }
}

/* CALENDAR TABLE */

.demo-app {
  /* display: flex; */
  min-height: 100%;
  font-size: 14px;
  width: 110%;
  margin: 3rem;
}

.demo-app-sidebar {
  width: 300px;
  line-height: 1.5;
  background: #eaf9ff;
  border-right: 1px solid #d3e2e8;
}

.demo-app-sidebar-section {
  /* padding: 2em; */
  padding: 1em 2em;
}

.fc {
  /* the calendar root */
  max-width: 1100px;
  max-height: 700px;
  margin: 0 auto;
}

/* MEDIA QUERIES  */

@media (min-width: 1201px) {
  .register-page-cover {
    height: 100vh;
  }
  .carousel {
    width: 100% !important;
  }
  .carousel-inner > .active {
    height: 31.5rem;
    width: 22.8rem;
  }
  .carousel-item > img {
    width: 32rem;
    height: 31.5rem;
    border-radius: 25px 0px 0px 25px;
  }
  .mb-2 {
    margin-bottom: 0.5rem !important;
    max-height: 12rem !important;
    min-height: 12rem !important;
    font-family: Be Vietnam Pro, sans-serif !important;
  }
  .list-group-item {
    min-height: 4rem !important;
  }

  .card {
    border-radius: 2rem !important;
    max-height: 37em !important;
    min-height: 37em !important;
    background: aliceblue !important;
  }
  .card-img-top {
    max-width: 15rem;
    max-height: 17rem;
    min-height: 17rem;
    min-width: 10rem;
    padding: 1rem;
  }

  .MainDash {
    margin-left: 3rem;
  }
  .dashboard-glass-wider > .MainDash {
    width: 365%;
  }

  .recent-projects {
    color: rgb(60, 55, 55);
    font-weight: bold;
    font-size: 25px;
    margin-top: 7rem;
    margin-bottom: 3rem;
  }
  .btn-div {
    margin-bottom: 33px;
    width: 32%;
  }

  table {
    border-collapse: collapse;
    max-width: 900px;
    width: 100%;
    margin: 2rem auto;
  }
  .table-responsive {
    width: 100%;
  }
}

@media (max-width: 1200px) {
  .MainDash {
    margin-left: 3rem;
  }
  .register-page-cover {
    height: 100vh;
  }
  .carousel {
    width: 100% !important;
  }
  .carousel-inner > .active {
    height: 31.5rem;
    width: 22.8rem;
  }
  .carousel-item > img {
    width: 32rem;
    height: 31.5rem;
    border-radius: 25px 0px 0px 25px;
  }
  .employees-container {
    margin-top: 2rem !important;
    margin-left: 0 !important;
    padding: 0 !important;
  }
  .mb-2 {
    margin-bottom: 0.5rem !important;
    max-height: 12rem !important;
    min-height: 12rem !important;
    font-family: Be Vietnam Pro, sans-serif !important;
  }
  .list-group-item {
    min-height: 4rem !important;
  }
  .card {
    border-radius: 2rem !important;
    max-height: 37em !important;
    min-height: 37em !important;
    background: aliceblue !important;
  }
  .card-img-top {
    max-width: 15rem;
    max-height: 17rem;
    min-height: 17rem;
    min-width: 10rem;
    padding: 1rem;
  }
  .makeStyles-container-1 {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    top: -5rem;
    position: relative;
  }
  .recent-projects {
    color: rgb(60, 55, 55);
    font-weight: bold;
    font-size: 25px;
    margin-top: 7rem;
  }
  table {
    border-collapse: collapse;
    max-width: 900px;
    width: 100%;
    margin: 2rem auto;
  }
}

@media (max-width: 1080px) {
  .login-container {
    height: 100vh;
    overflow: scroll;
  }
  .cards {
    width: 42rem;
  }
  .right-side {
    left: 38rem;
  }
}

@media (max-width: 1000px) {
  .register-page-cover {
    height: 100vh;
  }
  .carousel {
    width: 100% !important;
  }
  .carousel-inner > .active {
    height: 31.5rem;
    width: 22.8rem;
  }
  .carousel-item > img {
    width: 28rem;
    height: 31.5rem;
    border-radius: 25px 0px 0px 25px;
  }
  .table {
    width: 95%;
  }
}

@media (max-width: 855px) {
  .right-side {
    left: 59%;
    top: 37%;
  }
  .carousel-caption {
    left: 0%;
  }
  .register-page-cover {
    background-repeat: round;
  }
  .carousel-inner {
    position: relative;
    width: 100%;
    overflow: hidden;
    height: 31.5rem;
    border-radius: 25px 0px 0px 25px;
  }
  .carousel-item > img {
    width: 100%;
    height: 156%;
  }
  .carousel-inner > .active {
    height: 21rem;
  }

  .container__child {
    width: 50%;
  }
  .carousel-inner > .active {
    height: 21rem;
  }
  .carousel-item > img {
    width: 100%;
  }
  .table {
    width: 90%;
  }
}

@media (max-width: 768px) {
  .register-page-cover {
    height: 42rem;
  }
  .signup__container {
    width: 100%;
    left: 27%;
    margin-left: auto;
    margin-right: auto;
    height: 0%;
    top: 5rem;
  }
  .signup__form {
    border-radius: 25px 25px 25px 25px;
  }
  .carousel-inner {
    display: none;
  }

  .table {
    /* width: 82%; */
    margin: 1rem 40px;
  }
  /* .tickets-table {
    width: 92% !important;
  } */
}

@media (max-width: 600px) {
  .signup__container {
    width: 144%;
    left: 15%;
    margin-left: auto;
    margin-right: auto;
  }
  .carousel-inner {
    display: none;
  }
  .carousel-indicators {
    display: none;
  }
  .signup__form {
    border-radius: 25px 25px 25px 25px;
  }
  table {
    border-collapse: collapse;
    border: 1px solid #cdcdcd;
    font-family: Be Vietnam Pro, sans-serif;
    width: 100%;
  }
  table tbody {
    overflow: auto !important;
    height: 186px !important;
  }
  td,
  th {
    border: 1px solid #cdcdcd;
    padding: 2px;
  }
  table,
  thead,
  tbody,
  th,
  td,
  tr {
    display: block;
  }
  thead tr {
    position: absolute;
    top: -9999px;
    left: -9999px;
  }
  tr {
    border-bottom: 1px solid #ccc;
  }
  /* td afecta al th and tbody-td */
  td {
    border: none;
    border-bottom: 1px solid #eee;
    position: relative;
    padding-left: 50%;
  }
  td:before {
    top: 3px;
    left: 6px;
    width: 45%;
    padding-right: 10px;
    white-space: nowrap;
    font-weight: bold;
  }
  td:after {
    position: absolute;
    top: 3px;
    left: 16px;
    width: 45%;
    padding-right: 10px;
    white-space: nowrap;
    font-weight: bold;
  }

  td:nth-of-type(1):before {
    content: 'Name';
  }
  td:nth-of-type(2):before {
    content: 'Description';
  }
  td:nth-of-type(3):before {
    content: 'Contributors';
  }
  td:nth-of-type(4):before {
    content: 'Status';
  }
  td:nth-of-type(5):before {
    content: 'Actions';
  }
}

@media (max-width: 428px) {
  .register-page-cover {
    height: 100vh;
    background-repeat: no-repeat;
  }
  .signup__container {
    top: 12rem;
  }
  .login-container {
    height: 100vh;
  }
  .recent-employees {
    margin-left: -5px;
  }
  .dashboard-glass-wider {
    width: 100%;
    margin: 0;
    border-radius: 0;
  }
}

@media (max-width: 375px) {
  .register-page-cover {
    height: 100vh;
    background-repeat: no-repeat;
  }
  .signup__container {
    top: 5rem;
    height: 0%;
  }
  .instructions {
    max-width: 20rem;
    margin-bottom: 0;
  }
  .table {
    width: 54%;
    margin: 1rem 25px;
  }
  .btn-div__tickets {
    margin-left: 2rem;
  }
}

/* IPHONE SE 2nd GEN */
@media only screen and (device-width: 375px) and (device-height: 667px) and (orientation: portrait) {
  .cards {
    width: 20rem;
  }
  .dashboard-glass-wider > .MainDash {
    margin-left: 1.5rem;
    width: 183%;
  }
  .MainDash {
    margin-left: 2rem;
  }
  .parentContainer {
    width: 97%;
  }
  .row {
    width: 55vh !important;
  }
  .card-img-top {
    padding: 1rem;
    max-width: 14rem;
    min-width: 14rem;
  }
  .menuItem {
    height: 2.5rem;
  }
  .dashboard-div {
    overflow: clip;
    padding: 0 !important;
  }
  .dashboard-glass {
    height: 300vh;
    width: 100%;
    border-radius: 0;
    margin: 0;
  }
  .sidebar {
    height: 78%;
    width: 55%;
  }
  .recent-employees {
    margin-left: 0.5rem;
    margin-bottom: 3rem;
  }
  .recent-projects {
    margin-top: 45rem;
  }
  .right-side {
    width: 85%;
    position: absolute;
    top: 56rem;
    left: 2rem;
  }
  .btn-div {
    margin-bottom: 1rem;
    width: 32%;
    margin-top: 2rem;
  }
  .dimension-table {
    margin-top: 3rem;
    width: 96%;
  }
  .table-responsive {
    overflow-x: none;
    max-width: 95%;
  }
  .table {
    width: 92%;
  }
  .col-4 {
    width: 70.333% !important;
    margin-left: 3.5rem !important;
  }
}
@media only screen and (device-width: 667px) and (device-height: 375px) and (orientation: landscape) {
  .dashboard-glass-wider {
    width: 100%;
    margin: 0;
  }
  .dashboard-glass-wider > .MainDash {
    width: 330%;
  }
  p {
    margin: 0;
  }
  .right-side {
    width: 35%;
    position: absolute;
    top: 63%;
    left: 61%;
  }
  .dashboard-div {
    overflow: clip;
    width: 102%;
    padding: 0 !important;
  }
  .dashboard-glass {
    width: 100%;
    margin: 0;
  }
  .sidebar {
    overflow: scroll;
    width: 35%;
  }
  .MainDash {
    margin-top: 1rem;
    margin-left: 2rem;
  }
  .parentContainer {
    width: 50%;
  }
  .dimension-table {
    width: 94%;
    margin-bottom: 4rem;
    margin-top: 2rem;
  }
  .table-responsive {
    width: 100%;
  }
  .table {
    width: 90% !important;
  }
  .row {
    width: 173vh;
  }
}

/* IPHONE 12/13 MINI */
@media only screen and (device-width: 375px) and (device-height: 812px) and (orientation: portrait) {
  .cards {
    width: 20rem;
  }
  .MainDash {
    margin-left: 2rem;
  }
  .dashboard-div {
    overflow: clip;
    padding: 0 !important;
  }
  .dashboard-glass {
    width: 100%;
    border-radius: 0;
    margin: 0;
  }
  .sidebar {
    margin-top: 6rem;
    width: 57%;
    height: 71%;
  }
  .parentContainer {
    width: 100%;
    margin-left: 0;
  }
  .right-side {
    width: 78%;
    left: 12%;
    top: 107%;
  }
  .recent-projects {
    margin-top: 43rem;
  }
  .dimension-table {
    margin-left: 0;
    width: 94%;
  }
  .tickets-table {
    width: 93%;
  }
  .table-responsive {
    overflow-x: none !important;
    width: 87%;
  }
  .row {
    width: 23rem;
    margin-top: 2rem;
  }
  .col-4 {
    width: 75.333% !important;
    margin-left: 3rem;
  }
  .dashboard-glass-wider > .MainDash {
    width: 177%;
  }
  .card-img-top {
    padding: 0;
    min-width: 13rem;
  }
  .table {
    width: 90% !important;
  }
}
@media only screen and (device-width: 812px) and (device-height: 375px) and (orientation: landscape) {
  .dashboard-div {
    padding: 0 !important;
  }
  .dashboard-glass {
    width: 100%;
    margin: 0;
  }
  .dashboard-glass-wider {
    width: 100%;
    margin: 0;
  }
  .dashboard-glass-wider > .MainDash {
    width: 398%;
  }
  .p--new-projects-tickets {
    margin-bottom: 1rem;
  }
  .MainDash {
    margin-left: 3rem;
  }
  .parentContainer {
    width: 25rem;
  }
  .register-page-cover {
    height: 170vh;
  }
  .signup__container {
    top: 80%;
  }
  .sidebar {
    overflow: scroll;
    width: 13rem;
  }
  .right-side {
    margin-top: -65rem;
    position: absolute;
    top: 81rem;
    left: 31rem;
    width: 17rem;
  }
  .row {
    width: 198vh;
    margin-top: 2rem;
  }
  .col-4 {
    width: 33.3% !important;
  }
  .dimension-table {
    margin-bottom: 4rem;
    width: 97%;
  }
  .table-responsive {
    width: 95%;
    margin: 2%;
  }
}

/* IPHONE 12/13  PRO MAX */
@media only screen and (device-width: 428px) and (device-height: 926px) and (orientation: portrait) {
  .cards {
    width: 24rem;
  }
  .card-img-top {
    padding: 0;
  }
  .dashboard-glass-wider > .MainDash {
    width: 213%;
    margin-left: 2rem;
  }
  .dashboard-div {
    overflow: clip;
    padding: 0 !important;
  }
  .dashboard-glass {
    height: 218vh;
    width: 100%;
    border-radius: 0;
    margin: 0;
  }
  .dashboard-glass-wider {
    padding: 0;
  }
  .parentContainer {
    width: 89%;
  }
  .right-side {
    width: 80%;
    position: absolute;
    left: 2rem;
    top: 57rem;
  }
  .instructions {
    font-size: 1rem;
    margin-bottom: 0;
  }
  .MainDash {
    width: 24rem;
    margin-left: 2rem;
  }
  .dimension-table {
    width: 94%;
  }
  .table-responsive {
    min-width: 22rem;
  }
  .sidebar {
    margin-top: 6rem;
    width: 14rem;
    height: 66%;
  }
  .row {
    width: 44vh;
  }
  .col-4 {
    width: 49.333% !important;
  }
  .recent-projects {
    margin-top: 45rem;
  }
  .table {
    width: 84% !important;
  }
}
@media only screen and (device-width: 926px) and (device-height: 428px) and (orientation: landscape) {
  .MainDash {
    margin-left: 2rem;
  }
  .dashboard-glass-wider > .MainDash {
    width: 435%;
  }
  .register-page-cover {
    height: 150vh;
  }
  .signup__container {
    top: 73%;
    width: 75%;
  }
  .sidebar {
    margin-top: 3rem;
    overflow: scroll;
    width: 25%;
    height: 77%;
  }
  .right-side {
    width: 30%;
    position: absolute;
    top: 69%;
    left: 53%;
  }
  .dimension-table {
    width: 93%;
    margin-bottom: 3rem;
  }
  .row {
    width: 53rem;
  }
  .parentContainer {
    width: 49%;
  }
}

/* SAMSUNG GALAXY 20+ */
@media only screen and (device-width: 384px) and (device-height: 854px) and (orientation: portrait) {
  .dashboard-glass-wider > .MainDash {
    width: 213%;
    margin-left: 2rem;
  }
  .dashboard-div {
    overflow: clip;
    padding: 0 !important;
    height: fit-content;
  }
  .dashboard-glass {
    height: 226vh;
    width: 100%;
    border-radius: 0;
    margin: 0;
  }
  .dashboard-glass-wider {
    padding: 0;
  }
  .parentContainer {
    width: 89%;
  }
  .right-side {
    width: 80%;
    position: absolute;
    left: 2rem;
    top: 57rem;
  }
  .instructions {
    font-size: 1rem;
    margin-bottom: 0;
  }
  .MainDash {
    width: 24rem;
    margin-left: 2rem;
  }
  .dimension-table {
    width: 94%;
  }
  .table-responsive {
    min-width: 22rem;
  }
  .sidebar {
    margin-top: 6rem;
    width: 14rem;
    height: 66%;
  }
  .row {
    width: 44vh;
  }
  .col-4 {
    width: 49.333% !important;
  }
  .recent-projects {
    margin-top: 45rem;
  }
  .table {
    width: 84% !important;
  }
  .card-img-top {
    padding: 0.5rem;
  }
}
@media only screen and (device-width: 854px) and (device-height: 384px) and (orientation: landscape) {
  .MainDash {
    margin-left: 2rem;
  }
  .dashboard-glass-wider > .MainDash {
    width: 435%;
  }
  .register-page-cover {
    height: 150vh;
  }
  .signup__container {
    top: 73%;
    width: 75%;
  }
  .sidebar {
    margin-top: 3rem;
    overflow: scroll;
    width: 25%;
    height: 77%;
  }
  .right-side {
    width: 30%;
    margin-left: 57%;
    position: absolute;
    top: 18.5rem;
  }
  .dimension-table {
    width: 93%;
    margin-bottom: 3rem;
  }
  .row {
    width: 50rem;
  }
  .parentContainer {
    width: 49%;
  }
}

/* IPHONE 12/13 + PRO */
@media only screen and (device-width: 390px) and (device-height: 844px) and (orientation: portrait) {
  .dashboard-div {
    overflow: clip;
    padding: 0 !important;
  }
  .cards {
    width: 23rem;
  }
  .dashboard-glass {
    height: 225vh;
    width: 100%;
    border-radius: 0;
    margin: 0;
  }
  .dashboard-glass-wider > .MainDash {
    width: 23rem;
    overflow-x: clip;
  }
  .parentContainer {
    width: 89%;
  }
  .right-side {
    width: 84%;
    position: absolute;
    top: 55rem;
    left: 2rem;
  }
  .instructions {
    font-size: 1rem;
    margin-bottom: 0;
  }
  .MainDash {
    width: 24rem;
    margin-left: 2rem;
  }
  .dimension-table {
    width: 88%;
  }
  .sidebar {
    width: 14rem;
  }
  .recent-projects {
    margin-top: 42rem;
  }
  .table {
    width: 80% !important;
  }
  .row {
    width: 24.5rem;
  }
  .col-4 {
    width: 48.333% !important;
  }
  .card-img-top {
    padding: 0.5rem;
  }
}
@media only screen and (device-width: 844px) and (device-height: 390px) and (orientation: landscape) {
  .dashboard-div {
    padding: 0 !important;
  }
  .dashboard-glass {
    width: 100%;
    margin: 0;
  }
  .dashboard-glass-wider {
    width: 100%;
    margin: 0;
  }
  .MainDash {
    margin-left: 3rem;
  }
  .dashboard-glass-wider > .MainDash {
    width: 414%;
  }
  .register-page-cover {
    height: 150vh;
  }
  .signup__container {
    top: 73%;
    width: 75%;
  }
  .parentContainer {
    width: 50%;
  }
  .sidebar {
    overflow: scroll;
    width: 25%;
    height: 77%;
  }
  .right-side {
    width: 30%;
    position: absolute;
    top: 17.5rem;
  }
  .dimension-table {
    width: 93%;
    margin-bottom: 3rem;
  }
  .row {
    width: 51rem;
  }
  .col-4 {
    width: 32.33% !important;
  }
  .table {
    width: 95% !important;
  }
}

/* IPHONE 11 PRO MAX */
@media only screen and (device-width: 414px) and (device-height: 896px) and (orientation: portrait) {
  .cards {
    width: 23rem;
  }
  .dashboard-div {
    padding: 0 !important;
    overflow: clip;
  }
  .dashboard-glass {
    width: 100%;
    margin: 0;
  }
  .MainDash {
    margin-left: 2rem;
  }
  .parentContainer {
    width: 93%;
  }
  .right-side {
    width: 84%;
    position: absolute;
    top: 55rem;
    left: 2rem;
  }
  .sidebar {
    width: 14rem;
  }
  .recent-projects {
    margin-top: 40rem;
  }
  .dimension-table {
    position: relative;
    width: 22rem;
    margin-bottom: 4rem;
  }
  .dashboard-glass-wider > .MainDash {
    width: 24rem;
  }
  .row {
    width: 25rem;
  }
  .col-4 {
    width: 49.333% !important;
  }
  .table {
    width: 86% !important;
  }
}
@media only screen and (device-width: 896px) and (device-height: 414px) and (orientation: landscape) {
  .dashboard-div {
    padding: 0 !important;
  }
  .dashboard-glass {
    width: 100%;
    margin: 0;
  }
  .dashboard-glass-wider {
    width: 100%;
    margin: 0;
  }
  .MainDash {
    margin-left: 3rem;
  }
  .dashboard-glass-wider > .MainDash {
    width: 414%;
  }
  .register-page-cover {
    height: 150vh;
  }
  .signup__container {
    top: 73%;
    width: 75%;
  }
  .parentContainer {
    width: 50%;
  }
  .sidebar {
    overflow: scroll;
    width: 25%;
    height: 77%;
  }
  .right-side {
    top: 17.5rem;
    left: 34rem;
  }
  .dimension-table {
    width: 93%;
    margin-bottom: 3rem;
  }
  .row {
    width: 56rem;
  }
  .col-4 {
    width: 24.333% !important;
  }

  .register-page-cover {
    height: 170vh;
  }
  .signup__container {
    top: 89%;
    width: 80%;
  }
}

/* IPHONE 11 PRO */

/* SAMSUNG S20 ULTRA GALAXY ANDROID 11 */
@media only screen and (device-width: 915px) and (device-height: 412px) and (orientation: landscape) {
  .register-page-cover {
    height: 170vh;
  }
  .signup__container {
    top: 89%;
    width: 80%;
  }
}

@media only screen and (device-width: 760px) and (device-height: 360px) and (orientation: landscape) {
  .register-page-cover {
    height: 166vh;
  }
  .signup__container {
    top: 12%;
    width: 85%;
  }
}

/* IPAD AIR */
@media only screen and (device-width: 820px) and (device-height: 1180px) and (orientation: portrait) {
  .dashboard-div {
    overflow: clip;
    height: fit-content;
    padding: 0 !important;
  }
  .dashboard-glass {
    height: fit-content;
  }
  .dimension-table {
    width: 96%;
    margin-top: 2rem;
    margin-bottom: 3rem;
  }
  .table-responsive {
    min-width: 670px;
    width: 100%;
  }
  .right-side {
    position: absolute;
    top: 16.5rem;
    left: 30rem;
    max-height: 40rem;
    width: 30%;
  }
  .sidebar {
    width: 30%;
    height: 55%;
  }
  .MainDash {
    margin-left: 2rem;
  }
  .dashboard-glass-wider > .MainDash {
    width: 382%;
  }
  .parentContainer {
    width: 50%;
  }
  .table {
    width: 98%;
  }
  .col-4 {
    width: 33.333% !important;
  }
}
@media only screen and (device-width: 1180px) and (device-height: 820px) and (orientation: landscape) {
  .dashboard-div {
    height: fit-content;
  }
  .dashboard-glass {
    height: fit-content;
  }
  .MainDash {
    margin-left: 2rem;
  }
  .right-side {
    width: 75%;
    margin-left: -12%;
    margin-top: 50%;
  }
  .dimension-table {
    margin-bottom: 3rem;
    margin-top: 2rem;
    width: 148%;
  }
  .table-responsive {
    width: 99%;
    min-width: 581px;
  }
  .dashboard-glass-wider > .MainDash {
    width: 310%;
  }
  .row {
    width: 125vh;
    margin-top: 2rem;
  }
  .col-4 {
    width: 25% !important;
  }
}

/* IPAD */
@media only screen and (device-width: 810px) and (device-height: 1080px) and (orientation: portrait) {
  .dashboard-div {
    overflow: clip;
    height: fit-content;
    padding: 0 !important;
  }
  .dashboard-glass {
    height: fit-content;
  }
  .dimension-table {
    width: 96%;
    margin-top: 2rem;
    margin-bottom: 3rem;
  }
  .table-responsive {
    min-width: 670px;
    width: 100%;
  }
  .right-side {
    position: absolute;
    top: 16.5rem;
    left: 30rem;
    max-height: 40rem;
    width: 30%;
  }
  .sidebar {
    width: 30%;
    height: 55%;
  }
  .MainDash {
    margin-left: 2rem;
  }
  .dashboard-glass-wider > .MainDash {
    width: 382%;
  }
  .parentContainer {
    width: 50%;
  }
  .table {
    width: 98%;
  }
  .col-4 {
    width: 33.333% !important;
  }
}
@media only screen and (device-width: 1080px) and (device-height: 810px) and (orientation: landscape) {
  .dashboard-div {
    height: fit-content;
  }
  .dashboard-glass {
    height: fit-content;
  }
  .MainDash {
    margin-left: 2rem;
  }
  .right-side {
    width: 75%;
    margin-left: -12%;
    margin-top: 50%;
  }
  .dimension-table {
    margin-bottom: 3rem;
    margin-top: 2rem;
    width: 148%;
  }
  .table-responsive {
    width: 99%;
    min-width: 581px;
  }
  .dashboard-glass-wider > .MainDash {
    width: 310%;
  }
  .row {
    width: 125vh;
    margin-top: 2rem;
  }
  .col-4 {
    width: 25% !important;
  }
}

/* IPAD PRO (11-inch)*/
@media only screen and (device-width: 834px) and (device-height: 1194px) and (orientation: portrait) {
  .dashboard-div {
    overflow: clip;
    height: fit-content;
    padding: 0 !important;
  }
  .dashboard-glass {
    height: fit-content;
  }
  .dimension-table {
    width: 96%;
    margin-top: 2rem;
    margin-bottom: 3rem;
  }
  .table-responsive {
    min-width: 670px;
    width: 100%;
  }
  .right-side {
    position: absolute;
    top: 16.5rem;
    left: 30rem;
    max-height: 40rem;
    width: 30%;
  }
  .sidebar {
    width: 30%;
    height: 47%;
  }
  .MainDash {
    margin-left: 2rem;
  }
  .dashboard-glass-wider > .MainDash {
    width: 382%;
  }
  .parentContainer {
    width: 50%;
  }
  .table {
    width: 98%;
  }
  .col-4 {
    width: 33.333% !important;
  }
}
@media only screen and (device-width: 1194px) and (device-height: 834px) and (orientation: landscape) {
  .dashboard-div {
    height: fit-content;
  }
  .dashboard-glass {
    height: fit-content;
  }
  .MainDash {
    margin-left: 2rem;
  }
  .right-side {
    width: 75%;
    margin-left: -12%;
    margin-top: 50%;
  }
  .dimension-table {
    margin-bottom: 3rem;
    margin-top: 2rem;
    width: 169%;
  }
  .table-responsive {
    width: 99%;
    min-width: 581px;
  }
  .dashboard-glass-wider > .MainDash {
    width: 310%;
  }
  .row {
    width: 135vh;
    margin-top: 2rem;
  }
  .col-4 {
    width: 25% !important;
  }
}

/* KINDLE FIRE HDX */
@media only screen and (device-width: 800px) and (device-height: 1280px) and (orientation: portrait) {
  .dashboard-div {
    overflow: clip;
    height: fit-content;
    padding: 0 !important;
  }
  .dashboard-glass {
    height: fit-content;
  }
  .dimension-table {
    width: 96%;
    margin-top: 2rem;
    margin-bottom: 3rem;
  }
  .table-responsive {
    min-width: 670px;
    width: 100%;
  }
  .right-side {
    position: absolute;
    top: 16.5rem;
    left: 30rem;
    max-height: 40rem;
    width: 30%;
  }
  .sidebar {
    width: 30%;
    height: 47%;
  }
  .MainDash {
    margin-left: 2rem;
  }
  .dashboard-glass-wider > .MainDash {
    width: 382%;
  }
  .parentContainer {
    width: 50%;
  }
  .table {
    width: 98%;
  }
}
@media only screen and (device-width: 1280px) and (device-height: 800px) and (orientation: landscape) {
  .right-side {
    width: 30%;
    top: 20rem;
    left: 44rem;
  }
  .cards {
    width: 50rem;
  }
  .dimension-table {
    margin-top: 2rem;
    width: 89%;
  }
  .table-responsive {
    width: 99%;
  }
  .dashboard-glass-wider > .MainDash {
    width: 500%;
  }
  .row {
    width: 144vh;
    margin-top: 2rem;
  }
  .col-4 {
    width: 25% !important;
  }
}
