body {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
}
.body-container {
  background-image: url(./Images/background-login.jpeg);
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
}
